@import "tailwindcss";

html {
    background: #2c2c30;
}

@theme {
    --color-primary: #aa74cf;
    --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
}

h2 {
    color: var(--color-primary);
    margin-bottom: 1rem;
    font-size: 1.5rem;
}